fastapi==0.115.2
uvicorn[standard]==0.30.6
pydantic==2.9.2
SQLAlchemy==2.0.36
alembic==1.13.3
python-multipart==0.0.12
psycopg==3.2.3
boto3==1.35.36
qdrant-client==1.11.1
pandas==2.2.3
numpy==1.26.4
transformers==4.45.2
torch==2.4.1
Pillow==10.4.0
reportlab==4.2.5
langchain==0.3.5
langchain-openai==0.2.3

